# Contact Form Email Recipient
VITE_CONTACT_RECIPIENT_EMAIL=info@vedichermitage.com

# EmailJS Service Integration (Optional)
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=

# Custom Webhook or Formspree URL (Optional)
VITE_WEBHOOK_URL=
