# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
frontend/node_modules/

# Production
dist/
frontend/dist/
frontend/dist-ssr/
frontend/out/

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?
